{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="POST" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류 표시 start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류 표시 end -->
        <table>
            {% bootstrap_form form %}

        </table>
        <div>
            {{ label }}
            {{ form.media }}

        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}